h1{
    text-align: center;
}
p{
    text-align: center;
}

p::first-line{
    color: aqua;
}
p::first-letter{
    color: blue;
    font-size: 5em;
}

h1::before{
  content: "aea idiota ";
  color: brown;

}
h1::after{
    content: " aea cachudo";
    color: crimson;
   
}
.aea{
    width: 200px;
    height: 200px;
    background: cadetblue;
    transition: all 2s;
    object-fit: cover;
}

.aea:active{
    background-color:rgb(47, 66, 29) ;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 10px gold ;
    
}

.cuadro:focus{
    background-color: blue;
    border: red;
}
.cachudo2{
    
    height: 250px;
    width: 300px;
    border:2px solid green
}

.cachudo2 img{
    object-fit: cover;
    object-position: right;
    /*puedes orientar la imagen con object position .
    Se podria jugar con top y bottom cuando las dmensiones de 
    la caja son distintas a la imagen .*/
    width: 100%;
    height: 100%;
}