body{
    padding: 0;
    margin: 0;
    
}
.container{
width:100%;
height:100vh ;
background: darkkhaki;
display: flex;
}

.container div{
    min-width: 60px;
    height: 100px;
    width: 100px;
    
}



.caja1{
    background: red;
 flex:1 0 500px
    
}
.caja2{
background: rgb(57, 193, 109);
flex:1 2 200px
 
}
.caja3{
    background: darkorchid;
    flex-grow:1;
   
}

